<H2>Images</H2>
<H3> Image Search Result</H3>



<INPUT Type="BUTTON" VALUE="Redo Search" ONCLICK="window.location.href='http://localhost:4567/imagesresults?images= <%= @image%>  '">




<INPUT Type="BUTTON" VALUE="Random Image" ONCLICK="window.location.href='http://localhost:4567/imagesresults?images= <%= @sample%>  '">



<p>
	<div id=float>
		<img src= "<%= @theimage%>"
	</div>
</p>



