<!DOCTYPE html>
<html>	
  <head>
  	<title>Movies, Stocks, Images</title>
	<link type="text/css" rel="stylesheet" href="style.css">
  </head>

	<body>
	  	<h1>Triple Search </h1>
		<nav>

			<a href= "http://localhost:4567/">Home</a>
			<a href= "http://localhost:4567/movies">Movies</a>
			<a href= "http://localhost:4567/images">Images</a>
			<a href= "http://localhost:4567/stocks">Stocks</a>

		 </nav>
	<div> <p>																																																					
		  </p>
	</div>				
<div> <p>																																																					
		  </p>
	</div>	

		 <%= yield %>
	</body>
</html>
   